@* Login template*@
@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Login") {
  <h2>Login</h2>

  @helper.form( action = routes.TaskList.validateLogin ) {
    @helper.CSRF.formField
    @helper.inputText(loginForm("username"), Symbol("id") -> "login-user")
    @helper.inputPassword(loginForm("password"), Symbol("id") -> "login-pass")
    <button type="submit" name="login">Login</button>
  }

  @helper.form( action = routes.TaskList.createUserPage ) {
    <button type="submit" name="login" id="create-user">Create New User</button>
  }
}

