@(currentRoute: String)(implicit requestHeader: RequestHeader, flash: Flash)

@v1.main("Task List JQuery") {
  <div id="contents"></div>

  <!-- csrf token -->
  <input type="hidden" id="csrf-token" value="@helper.CSRF.getToken.value">

  <!-- routes -->
  <input type="hidden" id="current-route" value="@currentRoute">
  <input type="hidden" id="login-route" value="@routes.TaskList2.login">
  <input type="hidden" id="validate-route" value="@routes.TaskList2.validateLogin">
  <input type="hidden" id="task-list-route" value="@routes.TaskList2.taskList">
  <input type="hidden" id="log-out-route" value="@routes.TaskList2.logOut">
  <input type="hidden" id="mark-task-route" value="@routes.TaskList2.mark">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <!-- js source -->
  <script src="@routes.Assets.versioned("javascripts/version2.js")"></script>
}