@import play.api.i18n.Messages.implicitMessagesProviderToMessages
@(tasks: Seq[(String, Boolean)], taskForm: Form[TaskData])(implicit request: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@main("Task List") {
  <h2>Task List</h2>
  @for(((task, marked), index) <- tasks.zipWithIndex) {
    <li>
      @if(marked) {
        @task [marked]
      } else {
        @task
      }
    </li>

    <form method="post" action="@routes.TaskList.removeTask">
      @helper.CSRF.formField
      <input type="hidden" name="index" value="@index">
      <input type="submit" value="Remove" id="remove-@index">
    </form>
    <form method="post" action="@routes.TaskList.markTask">
      @helper.CSRF.formField
      <input type="hidden" name="index" value="@index">
      <input type="submit" value="Mark" id="mark-@index">mark</input>
    </form>
  }

  <h3>add a task</h3>
  @helper.form( action = routes.TaskList.addTask ) {
    @helper.CSRF.formField
    @helper.inputText(taskForm("task"))
    @helper.checkbox(taskForm("marked"))
    <button type="submit" name="addTask">add</button>
  }

  @helper.form( action = routes.TaskList.logOut ) {
    <button type="submit" name="Logout" id="logout-button">Log Out</button>
  }
}