@(tasks: Seq[(String, Boolean)])(implicit request: RequestHeader, flash: Flash)

@main("task list") {
  <h2>Task List</h2>
  @for(((task, marked), index) <- tasks.zipWithIndex) {
    <li>
      @if(marked) {
        @task [marked]
      } else {
        @task
      }
    </li>

    <form method="post" action="@routes.TaskList.removeTask">
      @helper.CSRF.formField
      <input type="hidden" name="index" value="@index">
      <input type="submit" value="Remove" id="remove-@index">
    </form>
    <form method="post" action="@routes.TaskList.markTask">
      @helper.CSRF.formField
      <input type="hidden" name="index" value="@index">
      <input type="submit" value="Mark" id="mark-@index">
    </form>
  }
}